

<div class="collapse" id="collapseExample">
    <div class="card card-body" style="width:700px;">
        <div class="row">
            <div class="col-8" style="border-right:1px solid grey" >
                <div class="card-body" id="mainChat" style="max-height:200px; overflow-y: auto;" >
                    <div class="alert alert-dismissible alert-secondary">
                        
                        Καλωσήρθες στο chat!
                    </div>
                </div>

                <input type="text" class="w-100 p-1" placeholder="Γράψε ένα μήνυμα.." style="max-width:none" id="chatInput" />

                <p class="mt-2">
                    <span class="text-muted"><i class="fas fa-images"></i></span>
                    <span class="text-muted"><i class="far fa-smile"></i></span>
                    <span class="text-muted"><i class="fas fa-gamepad"></i></span>
                    <span class="text-muted"><i class="fas fa-paperclip"></i></span>
                </p>

            </div>
            <div class="col-4" id="chatUsers" style="max-height:280px; overflow-y: auto;">

            </div>
        </div>

    </div>
</div>




